* {
  display: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

header {
  display: inline-flex;
  justify-self: start;
  background-color: skyblue;
  height: 4vmin;
  width: 100%;
  font-size: 2.5vmin;
  align-items: center;
  padding-left: 3vmin;
}

h1 {
  text-align: center;
}